.Nav-bar {
    background-color: black;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Nav-bar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Nav-bar a {
    color: white;
    text-decoration: none;
}