.Header-logo {
  position: relative;
  width: 1440px;
  height: 50px;
  left: 0px;
  top: 0px;
  background: #b11226;
}

.Header-logo img {
    position: absolute;
    width: 99px;
    height: 26px;
    left: 41px;
    top: 11px;
}


